// reset css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors

$background-color: #000;
$primary-color: #fff;


body {
    // font-family: 'Fira Code', monospace;
    background-color: $background-color;
  }