main {
    .bg-noise {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/background_noise.gif),url(../assets/background_gradient.png);
        background-position: 0 0,0 0;
        background-size: auto,cover;
        background-repeat: repeat,no-repeat;
        opacity: .05;
        top: 0;
    }
    .bg-gradient {
        position: fixed;
        z-index: -2;
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/background_gradient.png);
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        top: 0;
    }
    #home {
        background-image: linear-gradient(180deg,transparent 80%,#0b111a 0,$black);
        @media screen and (max-width: 991px) {
            background-image: linear-gradient(180deg,transparent 85%,#0b111a 0,$black);
        }
        @media screen and (max-width: 768px) {
            background-image: linear-gradient(180deg,transparent 90%,#0b111a 0,$black);
        }
        @media screen and (max-width: 480px) {
            background-image: linear-gradient(180deg,transparent 92%,#0b111a 0,$black);
        }
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20vh auto;
            @extend %sectionStyle;
            h1 {
                font-size:calc(2rem + 4vw);
                text-align: center;
                margin-bottom: 2rem;
            }
            p {
                font-size:calc(1rem + 1vw);
                text-align: center;
                @media screen and (max-width: 480px) {
                    font-size: 1rem;
                }
            }
            .button-container {
                @include flex($justify: center, $align: center, $gap: 24px);
                margin-top: 2rem;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    justify-content: center;
                    gap: 2rem;
                }
                .primary-button {
                    @include button($bg-color:$black, $border:none, $padding:24px 48px, $color:$white);
                    @media screen and (max-width: 480px) {
                        width: 90%;
                        span {
                            white-space: normal;
                        }
                    }
                }
                .secondary-button {
                    @include button($bg-color:$white, $border:none, $padding:24px 48px, $color:$black);
                    @media screen and (max-width: 480px) {
                        width: 90%;
                    }
                }
            }
        }
        .wrapper-hero {
            border-radius: 10px;
            background-color: $light-blue;
            transform: rotateZ(-2deg);
            width: 90%;
            max-width: 1600px;
            height: auto;
            margin: auto;
            img {
                transform: rotateZ(4deg);
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }
    #about {
        background-color: $black;
        color: $white;
        padding: 7rem 0;
        @media screen and (max-width: 768px) {
            padding-top: 5rem;
        }
        .section-container {
            @extend %sectionStyle;
            h2 {
                @extend %sectionTitle;
            }
            .about-container {
                @include flex($justify: space-between, $align: center, $gap: 20px, $direction: row, $wrap: nowrap);
                img {
                    width: 60%;
                }
                p {
                    width: 40%;
                }
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    img {
                        width: 100%;
                    }
                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
    #skills {
        padding: 7rem 0;
        background-color: $white;
        .section-container{
            @extend %sectionStyle;
            h2 {
                @extend %sectionTitle;
            }
            .grid-container {
                display: grid;
                justify-items: center;
                align-items: start;
                grid-auto-columns: 1fr;
                grid-column-gap: 3rem;
                grid-row-gap: 4rem;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                @media screen and (max-width: 991px) {
                    grid-column-gap: 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto auto;
                }
                @media screen and (max-width: 768px) {
                    grid-row-gap: 3rem;
                    grid-template-columns: 1fr;
                }
                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 48px;
                        margin-bottom: 1rem;
                    }
                    h3 {
                        font-size: 1.5rem;
                        margin-bottom: 0.25rem;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        color: $grey;
                    }
                }
            }
        }
    }
    #creations {
        padding: 7rem 0;
        .section-container {
            @extend %sectionStyle;
            h2 {
                @extend %sectionTitle;
            }
        }
        .container {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            .card-item {
                width: 20vw;
                height: 75vh;
                background-position: center;
                background-size: cover;
                margin: 1vw;
                border-radius: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .card-item-content {
                    display: none;
                    background-color: $white;
                    padding: 2rem 4rem;
                    border-radius: 10px;
                    max-width: 80%;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    align-items: center;
                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: 0.25rem;
                    }
                    p {
                        color: $black;
                        white-space: normal;
                        width: 100%;
                    }
                    .primary-button {
                        @include button($bg-color:$black, $border:none, $padding:24px 48px, $color:$white);
                        width: fit-content;
                    }
                }
            }
            
        }
    }
    #contact {
        padding: 7rem 0;
        .wrapper-1 {
            border-radius: 10px;
            background-color: $light-blue;
            width: 80%;
            max-width: 1250px;
            height: auto;
            margin: auto;
            transform: rotateZ(1deg);
            .wrapper-2 {
                border-radius: 10px;
                background-color: $black;
                width: 100%;
                height: 100%;
                transform: rotateZ(-2deg);
                .container {
                    transform: rotateZ(1deg);
                    @include flex($justify: space-between, $align: center, $gap: 5rem);
                    padding: 5rem 4rem;
                    .cta-text {
                        color: $white;
                        h2 {
                            @extend %sectionTitle;
                        }
                        p {
                            color: $light-grey;
                        }
                    }
                    .primary-button {
                        @include button($bg-color:$white, $border:none, $padding:24px 48px, $color:$black);
                    }
                }
            }
        }
    }
}


