@mixin flex( $justify: center, $align: center, $gap: 0, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin button($bg-color:$black, $border:none, $padding:24px 48px, $color:$white) {
    background-color: $bg-color;
    border: $border;
    padding: $padding;
    border-radius: 10px;
    color: $color;
    text-decoration: none;
    font-weight: 600;
    transition: $transition;
    &:hover {
        scale: 1.1;
    }
    @include flex($justify: center, $align: center);
    span {
        white-space: nowrap
    }
    img {
        border: 0;
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        width: 15px;
        height: 15px;
        margin-left: 12px;
    }
}

%sectionStyle {
    @media screen and (max-width: 768px) {
        width: 90%;
    }
    width: 80%;
    max-width: 1600px;
    margin: auto;
}

%sectionTitle {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4.5rem;
    @media screen and (max-width: 991px) {
        font-size: 2.25rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 2rem;
        margin-bottom: 3.25rem;
    }
    @media screen and (max-width: 480px) {
        font-size: 2rem;
        margin-bottom: 3.25rem;
    } 
}