// Colors
// Primary
$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 17%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: white;
}

