name: Deploy to SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to SFTP
        uses: jakejarvis/sftp-deploy-action@4.2.3
        with:
          server: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          local_dir: ./
          remote_path: /var/www/portfolio/

      - name: deploy file to server
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
            username: '${{ secrets.USERNAME }}'
            server: '${{ secrets.SERVER }}'
            ssh_private_key: ${{ secrets.PASSWORD }}
            local_path: './'
            remote_path: '/var/www/umiapp'
            sftpArgs: '-o ConnectTimeout=5'
